# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# NodeJS
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Docker
.dockerignore

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
